/* Main Styles */
body {
  font-size: 16px;
  line-height: 1.7;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h2 {
	text-transform: uppercase;
}

a:hover {
	text-decoration: none;
}


/* Header */
.logo a {
  float: left;
  padding: 15px 10px 5px 0;
  font-size: 24px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}


/* Navigation */
.menu-nav {
	text-align: right;
}

.menu-nav a {
	color: white;
  text-decoration: none;
}

.menu-nav a:hover {
	color: #bfbfbf;
}

.menu-nav ul {
	list-style: none;
	max-width: 300px;
  float: right;
  border-bottom: 1px solid white;
  margin-top: 5px;
  padding-left: 0;
}

.menu-nav li {
	display: inline-block;
	padding: 20px;
}


/* Mobile Menu - Hidden */
nav {
	min-height: 100px;
	margin-bottom: -120px;
}

.mobile-icon, .mobile-menu {
	display: none;
}


/* Page Images and text */
.container {
  max-width: 900px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.intro {
	background-image: url("../images/red-sun-rocks.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
	padding-top: 140px;
  margin-top: -100px;
  margin-bottom: -60px;
}

.intro h1 {
	color: white;
	text-align: center;
	font-size: 5.2em;
  line-height: 1;
}

.intro-mid {
	background-image: url("../images/mountain-tops.jpg");
	background-size: cover;
	background-attachment: fixed;
	min-height: 500px;
	padding-top: 140px;
  margin-bottom: -70px;
}

.intro-mid h2 {
	text-align: center;
	font-size: 5em;
	text-transform: none;
  line-height: 1;
}

.solid-background {
	background-color: #d9d9d9;
	padding-top: 70px;
	padding-bottom: 90px;
}

.reverse-text {
	color: white;
}

.col-3 {
	text-align: center;
	padding-top: 30px;
  width: 30%;
  display:inline-block;
  vertical-align: top;
}

.col-3 img {
	max-width: 100px;
}


/* Footer */
.col-3.footer-links {
  text-align: center;
}

.footer-links a {
  text-decoration: none;
  color: #808080;
}

.footer-links a:hover,
.footer-links a:focus {
  color: #595959;
}

.footer-links {
  text-align: left;
}

.footer-links ul {
	list-style: none;
	padding-left: 0;
}

.social-media {
	background: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.social-media img {
  width: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.social-media img:hover {
  opacity: .8;
}

@media screen and (max-width: 620px) {
/* Banners and text */
	.intro {
		padding-top: 100px;
	}
	.intro, .intro-mid {
		background-attachment:scroll;
	}

/* Mobile Menu - Display */
	nav.container {
		background-color: black;
	}

	.mobile-icon {
		display: block;
	}

	.mobile-icon img {
    float: right;
    height: 40px;
    margin-top: 12px;
    padding-right: 20px;
    width: 40px;
	}

	.mobile-menu a {
    color: white;
	  text-transform: lowercase;
    text-decoration: none;
	}

	.mobile-menu {
		background-color: black;
    padding-top: 50px;
	}

	.mobile-menu > ul {
    font-size: 30px;
    list-style: outside none none;
    text-align: center;
	}

	.mobile-menu ul {
		padding-left: 0;
    margin-bottom: 100px;
	}

	.mobile-menu li {
    border-top: 1px solid white;
    padding: 15px;
	}

	.menu-nav {
		display: none;
	}

  .col-3 {
    width: 100%;
    display: block;
  }
}
